:root{

  --primary-color: #0A0C87;
  --secondary-color:#ffffff;

  /*Buttons*/
  --hover-color-primary: rgb(4, 10, 88);
  --secondary-btn-color:#0A0C87;
  --secondary-btn-text-color:#050770;
  --hover-color-secondary: rgb(224, 228, 245);



  

}

body{
font-family: 'K2d', sans-serif;
}